In [6]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
c=a+b
print("sum =",c)

enter no. one:2
enter no. two: 2
sum = 4

In [11]:
int(123465)

123465

In [13]:
int(True)

1

In [15]:
int(False)

0

In [22]:
int("10")

10

In [19]:
int("10.2")

ValueError: invalid literal for int() with base 10: '10.2'

In [23]:
int("0b111")

ValueError: invalid literal for int() with base 10: '0b111'

In [25]:
int(0b111)

7

In [27]:
float(10)

10.0

In [28]:
float(True)

1.0

In [29]:
float(False)

0.0

In [30]:
float("10.5")

10.5

In [26]:
float("ten")

ValueError: could not convert string to float: 'ten'

In [32]:
float("0b111")

ValueError: could not convert string to float: '0b111'

In [35]:
float(0b11)

3.0

In [36]:
bool()

False

In [44]:
bool(0)

False

In [45]:
bool(1)

True

In [46]:
bool(10)

True

In [47]:
bool(10.5)

True

In [48]:
bool(0.178)

True

In [49]:
bool(0.0)

False

In [50]:
bool("True")

True

In [51]:
bool("False")

True

In [39]:
bool(False)

False

In [41]:
bool(" ")

True

In [42]:
bool("")

False

In [43]:
bool(True)

True

In [52]:
str(10)

'10'

In [53]:
str(10.5)

'10.5'

In [55]:
str(True)

'True'

In [57]:
str("True")

'True'

In [58]:
# + = addition
# - = subtratcion
# * = multiplication
# / = division
# % = modulus
# // = floor division
# ** = power or exponent
# in division the answer will be bydefalut in float

In [59]:
20//3 # quesient

6

In [61]:
20/3

6.666666666666667

In [62]:
10**2

100

In [64]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
c=a+b
print("sum =",c)

enter no. one:10
enter no. two: 20
sum = 30

In [65]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
c=a-b
print("sum =",c)

enter no. one:20
enter no. two: 30
sum = -10

In [63]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
c=a/b
print("sum =",c)

enter no. one:10
enter no. two: 10
sum = 1.0

In [67]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
c=a*b
print("sum =",c)

enter no. one:10
enter no. two: 2
sum = 20

In [70]:
"arman"+10

TypeError: can only concatenate str (not "int") to str

In [72]:
"arman"+"10"

'arman10'

In [74]:
"arman"*2

'armanarman'

In [76]:
"arman"*2.5

TypeError: can't multiply sequence by non-int of type 'float'

In [78]:
"arman"*"arman"

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
# > :greaterthen
# < :lessthen
# >= :gretaerthen or equal to
# <= :lessthen or equal to
# == :equal to
# != :not equal to

In [80]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
print("a>b is :",a>b)

enter no. one:1
enter no. two: 3
a>b is : False

In [81]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
print("a>b is :",a<b)

enter no. one:2
enter no. two: 3
a>b is : True

In [83]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
print("a>b is :",a>=b)

enter no. one:5
enter no. two: 8
a>b is : False

In [84]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
print("a>b is :",a<=b)

enter no. one:2
enter no. two: 8
a>b is : True

In [86]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
print("a>b is :",a==b)

enter no. one:2
enter no. two: 3
a>b is : False

In [88]:
a=int(input("enter no. one:"))
b=int(input("enter no. two: "))
print("a>b is :",a!=b)

enter no. one:2
enter no. two: 2
a>b is : False

In [1]:
a=input("enter no. one:")
b=input("enter no. two: ")
print("a>b is :",a>b)

enter no. one:arman
enter no. two: Arman
a>b is : True

In [2]:
a=input("enter no. one:")
b=input("enter no. two:")
print("a>b is :",a>b)

enter no. one:armn
enter no. two:armni
a>b is : False

In [4]:
a=input("enter no. one:")
b=input("enter no. two: ")
print("a>b is :",a>b)

enter no. one:a
enter no. two: a
a>b is : False

In [13]:
print(True>=True)
print(True>True)
print(10>=True)
print(False>=True)
print(30>20>10)
print(10<20>30>40)
print(10>20<40>50)
print(0>True)
print(0>=True)
print(0>False)
print(0>=False)

True
False
True
False
True
False
False
False
False
False
True

In [18]:
print(20>10 and 10>5)
print(20>10 and 10<5)
print(20>10 or 10<5)

True
False
True

In [19]:
True and False
True and True
not True

False

In [24]:
# x and y = if x evalutes to false then result is x otherwise result is y
10 and 20

20

In [23]:
0 and 20

0

In [26]:
# x or = if x evalutes to True then result is x otherwise result is y
10 or 20

10

In [28]:
0 or 20

20

In [29]:
# not x = if x evalutes to false then rsult is true else false
not(10)

False

In [31]:
not(0)

True

In [33]:
# syntex : x = first value if condition else second value
a,b=10,20
x=30 if a>b else 40
print(x)

40

In [34]:
a,b=10,20
x=30 if a<b else 40
print(x)

30

In [37]:
x=20
x+=10 == x=x+10
x-=10 == x=x-10
x*=10 == x=x*10
x/=10 == x=x/10
x%=10 == x=x%10
x**=10 == x=x**10
x//=10 == x=x//10

In [45]:
# in = returns true if given object present in specific colection 
# not in =  returns true if given object is not present in specific colection 
x="hello python"
print("python" in x)
print("p" in x)
print("f" in x)
print("pn" in x)
print("pyt" in x)
print("heo" in x)
print("hell" in x)
print("l" in x)

True
True
False
False
True
False
True
True

In [48]:
#precidence

a=30
b=20
c=10
d=5
print((a+b)*c/d)
print((a+b)*(c/d))
print((a+(b*c)/d))

100.0
100.0
70.0

In [52]:
# write A Program to find the area of a triangle 
a =int(input("enter base: "))
b =int(input("enter height: "))
print("area of triangle = ",.5*a*b)

enter base: 3
enter height: 2
area of triangle =  3.0

In [57]:
# write a program to find area of a circle
import math
a =int(input("enter radius: "))
p=math.pi
print("area of circle = ",p*a*a)

enter radius: 5
area of circle =  78.53981633974483

In [58]:
#convert farahite to celcius 
f=int(input("enter ferenheit: "))
print("clecius = ",(f-32)*(5/9))

enter ferhinte: 56
clecius =  13.333333333333334

In [2]:
#convet celcius to ferenhite
c=float(input("enter celcius: "))
print(" ferenhite = ",(c*(9/5))+32)

enter celcius: 13.333333333333334
 ferenhite =  56.0

In [14]:
# no. of days and give in year,month,day
f=int(input("enter days: "))
y=int(f//365)
m=int((f%365)/30)
d=(f%365)%30
print("year :",y,"months :",m,"days :",d)

enter days: 429
year : 1 months : 2 days : 4

In [3]:
a=20
b=10
c=30
print(a>b and a>c)
print(a>b or a>c)
print(not a>b)
print(not a>c)

False
True
False
True

In [4]:
x=5
y=5.3
z=5

print(type(x) is int)
print(type(y) is int)
print(type(z) is float)
print(x is z)
print(x is not y)

True
False
False
True
True

In [8]:
(5**3)**2*5/True

78125.0

In [10]:
print("1" in "123" and "False" or True)

False

In [17]:
print(5 and True or 3/0)

True

In [19]:
print(5 and False or 3/0)

ZeroDivisionError: division by zero

In [30]:
#x and y -> x= false then ans =x  else ans =y
#x or y -> x=True then ans =x else ans=y

In [40]:
# given no. is positive or negative
a=int(input("Enter No: "))
print("Positive" if a>=0 else "Negative")

Enter No: -9
Negative

In [42]:
# given no. id odd or even
a=int(input("Enter No: "))
print("Even" if a%2==0 else "Odd")

Enter No: 5
Odd

In [3]:
#Find the no. of currency notes against the given amount
a=int(input("Enter Amount: "))
a1=int(a/500)
a2=int((a%500)/200)
a3=int((a%500)%200/100)
a4=int((a%500)%200%100/50)
a5=int((a%500)%200%100%50/20)
a5=int((a%500)%200%100%50/20)
a6=int((a%500)%200%100%50%20/10)
print("500-",a1, "200-",a2, "100-",a3, "50-",a4, "20-",a5, "10-",a6)

Enter Amount: 560
500- 1 200- 0 100- 0 50- 1 20- 0 10- 1